<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>About Us</title>
  </head>
  <body>
<div class="homepage">
      <a href="/homepage"><span class="newyorkcity">NewYorkCity</span> <span class="forum">DogForum</span></a>
</div>


<div class="header">
    <a href="/homepage">Homepage</a>
    <a href="/education">Education</a>
    <a href="/community">Community</a>
    <a href="/about">About Us</a>
  </div>
  <hr>

  <div class="content-wrapper">
  <div class="image-container">
    <img src="https://images.pexels.com/photos/792775/pexels-photo-792775.jpeg?auto=compress&cs=tinysrgb&w=800">
  </div>
  <div class="text-container">
    <div class="intro">
    &emsp;Welcome to the ultimate resource for all New York City dog owners!
    <br><br>
&emsp;This platform is a vibrant community hub where dog lovers across the city can connect,
 share, and discover everything related to their furry friends. Whether you're a new puppy parent seeking guidance,
 an experienced owner with training wisdom to share, or someone with health tips and homemade dog treat recipes,
 this is the place for you.
<br><br>
&emsp;Our discussions cover a broad range of topics, including but not limited to puppy education, training tips,
 health and wellness advice, and updates on current events. Additionally, we encourage members to promote and 
 connect with local dog clubs and communities, fostering a real-world support network for you and your canine companions.
<br><br>
&emsp;Please remember, while this page is open for everyone to contribute, it's essential to 
<strong>stay vigilant and discerning about the information shared</strong>.
Be cautious of online scams and ensure to verify the authenticity of the advice and offers you come across here.
<br><br>
&emsp;Together, let's build a safe, informative, and friendly environment for all New York City dog owners. 
Share your stories, ask your questions, and become part of our growing community of dog enthusiasts.
  </div>
</div>
</div>

<div class="contact-icon">
  <a href="https://www.instagram.com/nyc_dog_forum?igsh=MTR2OWNjcmduOGt1dA%3D%3D&utm_source=qr" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/128/725/725339.png" alt="Instagram Contact Icon">
  </a>

  <a href="/suggestion" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/128/2593/2593463.png" alt="Comment Icon" id="commentIcon">
  </a>
</div>

  </body>
</html>