<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="homepage">
      <a href="/homepage"><span class="newyorkcity">NewYorkCity</span> <span class="forum">DogForum</span></a>
</div>
<div class="header">
      <a href="/homepage">Homepage</a>
      <a href="/education">Education</a>
      <a href="/community">Community</a>
      <a href="/about">About Us</a>
</div>


<div class="gallery">
  <img src="https://images.pexels.com/photos/247522/pexels-photo-247522.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
</div>


  
  </body>
</html>
